<p id="notice"><%= notice %></p>

<h1>Received</h1>

<table class="mb-5">
  <thead>
  <tr>
    <th>Sent by</th>
    <th>When</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @received_requests.each do |friendship| %>
    <tr>
      <td><%= friendship.user %></td>
      <td><%= friendship.created_at %></td>
      <td><%= link_to 'Accept', accept_friendship_path(friendship), method: :put, data: { confirm: (t 'messages.are_you_sure?') } %></td>
      <td><%= link_to 'Deny', friendship, method: :delete, data: { confirm: (t 'messages.are_you_sure?') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h1>Sent (not accepted yet)</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>When</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @sent_requests.each do |friendship| %>
    <tr>
      <td><%= friendship.receiver %></td>
      <td><%= friendship.created_at %></td>
      <td><%= link_to 'Cancel', friendship, method: :delete, data: { confirm: (t 'messages.are_you_sure?') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
