<table class="bg-light text-dark">
  <tr>
    <th><%= sort_link(@q, :first_name, 'First Name', default_order: :asc) %></th>
    <th><%= sort_link(@q, :last_name, 'Last Name', default_order: :asc) %></th>
    <th><%= sort_link(@q, :email, 'Email', default_order: :asc) %></th>
    <th colspan="3">Actions</th>
  </tr>

  <% @listed_users.each do |user| %>
    <% if can? :read, user %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t 'general.actions' %>
          </button>
          <div class="dropdown-menu">
            <%= link_to (t 'general.action.show'), user, class: 'dropdown-item' %>
            <% if can? :follow, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.follow'), user_follow_path(user), class: 'dropdown-item' %>
            <% end %>
            <% if can? :unfollow, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.unfollow'), user_unfollow_path(user), class: 'dropdown-item' %>
            <% end %>
            <% if can? :disable, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.disable'), '#', data: {confirm: (t 'messages.are_you_sure')}, class: 'dropdown-item' %>
            <% end %>
            <% if can? :send_friendship, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.add_as_friend'), send_friendship_path(user), class: 'dropdown-item' %>
            <% end %>
            <% if can? :block_user, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.block'), block_user_path(user), data: {confirm: (t 'messages.are_you_sure')}, class: 'dropdown-item' %>
            <% end %>
            <% if can? :unblock_user, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.unblock'), unblock_user_path(user), data: {confirm: (t 'messages.are_you_sure')}, class: 'dropdown-item' %>
            <% end %>
            <% if can? :add_superuser, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.make_superuser'), add_superuser_path(user), data: {confirm: (t 'messages.are_you_sure')}, class: 'dropdown-item' %>
            <% end %>
            <% if can? :remove_superuser, user %>
              <div class="dropdown-divider"></div>
              <%= link_to (t 'general.action.remove_superuser'), remove_superuser_path(user), data: {confirm: (t 'messages.are_you_sure')}, class: 'dropdown-item' %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
