<div class="card text-dark mb-3">
  <div class="card-header pb-0">
    <h5 class="card-title">
      User profile
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: 'img-fluid' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Name:</strong>
          <%= @user.full_name %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        <p>
          <strong>Endereço:</strong>
          <%= @user.addresses.first&.street %>
        </p>
      </div>
    </div>
    <% if @user.addresses.any? %>
      <div class="row">
        <div class="col-md-12">
          <div id="map_user" class="map-md"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Remover minha localização', destroy_location_path(@user), class: 'btn btn-danger btn-block',
                      method: :delete, data: {confirm: (t 'messages.are_you_sure')} %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= link_to 'Back', users_path %>
