<div class="card text-dark mb-3">
  <div class="card-header pb-0">
    <h5 class="card-title">
      User profile
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: 'img-fluid' %>
        <% end %>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Name:</strong>
          <%= @user.full_name %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        <p>
          <strong>Endereço:</strong>
          <%= @user.addresses.first&.street %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="map_user" class="map-md"></div>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Back', users_path %>
