<!DOCTYPE html>
<html lang="en">
<head>
  <title>Social</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'nearby' if action_name == 'nearby' %>

</head>

<body class="bg-dark bg-dark-image">
<div class="container-fluid ">
  <div class="row align-items-start">
    <div class="col-12 p-0">
      <%= render 'shared/header' %>
    </div>
  </div>
  <div class="row pb-3 pt-3">
    <div class="col-sm-12 col-lg-3">
      <%= render 'shared/left_bar' %>
    </div>
    <div class="col-sm-12 col-lg-5 text-light mb-3">
      <div class="<%= "alert alert-success" if flash[:notice] %>"><%= flash[:notice] %></div>
      <div class="<%= "alert alert-danger" if flash[:alert] %>"><%= flash[:alert] %></div>
      <div class="<%= "alert alert-danger" if flash[:error] %>"><%= flash[:error] %></div>
      <%= yield %>
    </div>
    <div class="col-sm-12 col-lg-4 ">
      <%= render 'shared/right_bar' %>
    </div>
  </div>
  <div class="row align-items-end mt-3 pt-3">
    <div class="col-12 p-0">
      <%= render 'shared/footer' %>
    </div>
  </div>
</div>
</body>
</html>
