<p id="notice"><%= notice %></p>

<h1>Reaction Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reaction_types.each do |reaction_type| %>
      <tr>
        <td><%= reaction_type.name %></td>
        <td><%= reaction_type.description %></td>
        <td><%= link_to 'Show', reaction_type %></td>
        <td><%= link_to 'Edit', edit_reaction_type_path(reaction_type) %></td>
        <td><%= link_to 'Destroy', reaction_type, method: :delete, data: { confirm: (t 'messages.are_you_sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reaction Type', new_reaction_type_path %>
