<div class="mb-4 pb-4">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <% if resource.avatar.attached? %>
        <%= image_tag resource.avatar, class: 'img-fluid' %>
      <% end %>
      <%= f.file_field :avatar %>
      <%= f.input :first_name, required: true, autofocus: true %>
      <%= f.input :last_name, required: false, autofocus: true %>
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: {autocomplete: "current-password"} %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-primary btn-block text-uppercase' %>
    </div>
    <div class="card bg-transparent border-secondary p-2 mt-2 mb-1">
      <h4 class="mt-1">Cancel my account</h4>

      <%= f.input :reason_to_be_disabled, required: false, autofocus: true %>
      <p>Unhappy? <%= f.button :submit, "Desativar minha conta", data: {confirm: "Are you sure?"}, class: 'btn btn-danger btn-sm', commit: 'disable' %></p>
    </div>
  <% end %>

  <%= link_to "Back", :back, class: 'mb-2' %>
</div>